{% extends "auctions/layout.html" %}

{% block body %}
    <h2>{{ item.name }}</h2>

        <!-- {% for item in items %}
        <div class="media" style="width: 80%; margin-left: 10%; margin-right: 10%; margin-top: 30px; margin-bottom: 30px; 
                                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
            <img src={{ item.image }} class="align-self-center mr-3" alt="..." width="400px">
            <div class="media-body">
              <h3 class="mt-4">{{ item.name }}</h3>
              <p class="mb-0">{{ item.description}}</p>
              <h4><strong>Minimum Bid: ${{ item.minimum }}</strong></h4>
            <h4><strong>Current Bid: </strong></h4>
            </div>
            <h4 class="mr-2 mt-2">{{ item.category }}</h4>
            
        </div>
        {% endfor %} -->
    

    
    
{% endblock %}